.signup-card-container {
  position: relative;
  z-index: 1;
  max-width: 530px;
  max-height: 90vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 16px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  overflow-y: auto;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.signup-card-container::-webkit-scrollbar {
  display: none;
}
